* {
  margin: 0;
  padding: 0;
}
.body{
    display: flex;
    width: 1440px;
    background-size: cover;
    position: absolute;
}
.hero {
  display: flex;
}
.left {
  font-size: 24px;
  color: #333;
  display: flex;
  flex-direction: column;
  left: 150px;
  top: 228px;
  width: 775px;
  height: 167px;
}
.left h2 {
  position: absolute;
  width: 343px;
  height: 125px;
  left: 150px;
  top: 160px;

  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 125px;
  /* identical to box height */

  color: #000000;
}
.left p {
  position: absolute;
  width: 775px;
  height: 42px;
  left: 150px;
  top: 300px;

  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #000000;
}
.left img {
  position: absolute;
  width: 156.13px;
  height: 125px;
  top: 160px;
  left: 450px;
}

.right img{
    position: absolute;
  height: 500px;
  top: 100px;
  left: 1100px;
  right: 1100px;
  width: 164.9px;
}
.group {
  position: absolute;
  width: 203px;
  height: 284px;
  top: 400px;
  left: 150px;
}
.group h2 {
  size: 32px;
  line-height: 41.6px;
  font-weight: 400;
  color: #000000;
  text-decoration: underline;
  margin-bottom: 10px;
}
.group p {
  font-weight: 400;
  size: 20px;
  line-height: 26px;
}
footer {
  position: absolute;
  border-top: 1px solid grey;
  display: flex;
  top: 820px;
  justify-content: space-between;
  width: 1440px;
  height: 100px;
}
.all {
  position: absolute;
  width: 290px;
  height: 24px;
  left: 150px;
  bottom: 38px;

  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: -0.1px;

  color: #000000;
}
.privacy {
  /* Privacy Policy */

  position: absolute;
  width: 106px;
  height: 24px;
  left: 969px;
  top: 38px;

  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: -0.1px;

  color: #000000;
}
.terms {
  /* Terms & Conditions */

  position: absolute;
  width: 149px;
  height: 24px;
  left: 1141px;
  top: 38px;

  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: -0.1px;

  color: #000000;
}
@media screen and (max-width: 600px) {
    .body{
        display: block;
        background-color: red;
    }
}